h1
{
font-weight: bold;
}
h1
{
text-decoration: blink;
}
.souligne
{
text-decoration: underline;
}
.barre
{
text-decoration: line-through;
}
.ligne_dessus
{
text-decoration: overline;
}
p1
{
font-style: italic;
}
.signature
{
text-align: right;
}
h1
{
text-align: center;
}
p
{
text-align: justify;
}
.italic
{
	font-style: italic
}
.italic
{
	font-weight: bold
}
.italic 
{
	color: orange
}
table {
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 1px solid #000;
  padding: 5px;
}

th {
  background-color: #ccc;
}

td {
  background-color: pink;
}
.imageflottante
{
float: left;
}
.p1
{
	clear: both
}